<style>
    div#body {
        border: 1px solid #03B3FF;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }

    div#header {
        width: 100%;
        background-color: #03B3FF;
        font-size: smaller;
        color: aliceblue;
        padding: 1em;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    span#close {
        padding: 0em 0.4em;
        border: 1px solid white;
        border-radius: 0.5em;
        cursor: pointer;
    }

    div#bottombar {
        width: 100%;
        background-color: #03B3FF;
        font-size: smaller;
        color: aliceblue;
        padding: 1em;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
    }

    div#main {
        flex-grow: 1;
        width: 100%;
        display: flex;
        flex-direction: row;
        overflow: hidden;
    }

    div#mainleft {
        background-color: aliceblue;
        height: 100%;
        width: 40%;
        border-right: 1px solid #03B3FF;
        overflow: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    div#mainright {
        background-color: aliceblue;
        height: 100%;
        flex-grow: 1;
        padding: 1em;
        box-sizing: border-box;
    }

    div.aiappicon {
        border: 0.5px solid transparent;
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: 8em;
        font-size: small;
        margin: 1em;
        color: #168CD0;
        user-select: none;
        align-items: center;
        padding: 1em;
        box-sizing: border-box;
    }
    div.aiappicon:hover, div.aiappicon.selected {
        border: 0.5px solid #C8CDD1;
        background-color: #FAFAFB;
        border-radius: 0.5em;
    }
    div.aiappicon img {
        width: 3.5em;
    }
    div.aiappicon span {
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        height: 1.2em;
        text-align: center;
    }
    div.aiappicon span#aiappid {
        font-size: smaller;
    }

    span.button {
        background-color: #C2E8FF;
        width: 6em;
        color: #444444;
        border-radius: 0.2em;
        font-size: small;
        text-align: center;
        padding: 0.5em;
        user-select: none;
    }

    file-manager#fmaiapp {display: none;}
    file-manager#fmaiapp.visible {display: block !important;}
</style>
{{{APP_CONSTANTS.MOBILE_MEDIA_QUERY_START}}}
    span#close {display: none;}
{{{APP_CONSTANTS.MOBILE_MEDIA_QUERY_END}}}

{{{APP_CONSTANTS.MOBILE_MEDIA_QUERY_PORTRAIT_START}}}
div#main {flex-direction: column;}
div#mainleft {
    height: 40%;
    width: 100%;
    border-bottom: 1px solid #03B3FF;
    border-right: unset;
}
div#mainright {height: unset;}
span.button {
    width: unset;
    min-width: 4.5em;
    font-size: smaller;
}
{{{APP_CONSTANTS.MOBILE_MEDIA_QUERY_PORTRAIT_END}}}

<div id="body">
    <div id="header"><span id="title">{{i18n.AIWorkshop_Title}}</span><span id="close" onclick="window.monkshu_env.apps[APP_CONSTANTS.APP_NAME].aiworkshop_main.close()">X</span></div>

    <div id="main">
        <div id="mainleft">
            {{#aiapps}}
            <div class="aiappicon" id="{{{id}}}" title="{{i18n.AIWorkshop_ClickAppToEdit}}"
                    onclick="window.monkshu_env.apps[APP_CONSTANTS.APP_NAME].aiworkshop_main.aiappSelected(this, '{{{id}}}')">
                <img src="{{#interface.icon}}{{.}}{{/interface.icon}}{{^interface.icon}}{{{VIEW_PATH}}}/img/bot.svg{{/interface.icon}}">
                <span id="aiapplabel">{{interface.label}}</span>
                <span id="aiappid">{{id}}</span>
            </div>
            {{/aiapps}}
        </div>

        <div id="mainright">
            <file-manager id="fmaiapp" disable="sharefile,copy,cut,paste,hr2" iconsize="3em" 
                fontsize="smaller" padding="0em 0.5em 0.25em 0.5em" extrainfo="" hidefolders="{{aiskipfolders_base64_json}}"
                genstats="true"></file-manager>
        </div>
    </div>

    <div id="bottombar">
        <span class="button" onclick="window.monkshu_env.apps[APP_CONSTANTS.APP_NAME].aiworkshop_main.newAIApp(this)">{{i18n.AIWorkshop_NewAIApp}}</span>
        <span class="button" onclick="window.monkshu_env.apps[APP_CONSTANTS.APP_NAME].aiworkshop_main.trainAIApp(this)">{{i18n.AIWorkshop_TrainAIApp}}</span>
        <span class="button" onclick="window.monkshu_env.apps[APP_CONSTANTS.APP_NAME].aiworkshop_main.deleteAIApp(this)">{{i18n.AIWorkshop_DeleteAIApp}}</span>
        <span class="button" onclick="window.monkshu_env.apps[APP_CONSTANTS.APP_NAME].aiworkshop_main.unpublishAIApp(this)">{{i18n.AIWorkshop_UnpublishAIApp}}</span>
        <span class="button" onclick="window.monkshu_env.apps[APP_CONSTANTS.APP_NAME].aiworkshop_main.publishAIApp(this)">{{i18n.AIWorkshop_PublishAIApp}}</span>
    </div>
</div>

<dialog-box id="dialog"></dialog-box>

<template id="notificationstemplate">
&#123;&#123;#events&#125;&#125;
<span style="display:flex;align-items:center;gap:0.5em;padding:0.6em 0.8em;border-bottom:1px solid #e5f0fb;min-width:260px;box-sizing:border-box;font-size:small;cursor:default;">
    <span style="flex:1;min-width:0;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;color:#374151;" title="&#123;&#123;file&#125;&#125;">&#123;&#123;file&#125;&#125;</span>
    &#123;&#123;#success&#125;&#125;<span style="color:#03B3FF;font-weight:600;white-space:nowrap;">100% Done</span>&#123;&#123;/success&#125;&#125;
    &#123;&#123;#error&#125;&#125;<span style="color:#ef4444;font-weight:600;white-space:nowrap;">Failed</span>&#123;&#123;/error&#125;&#125;
    &#123;&#123;^success&#125;&#125;&#123;&#123;^error&#125;&#125;<span style="color:#03B3FF;font-weight:600;white-space:nowrap;">&#123;&#123;percentage&#125;&#125;%</span>&#123;&#123;/error&#125;&#125;&#123;&#123;/success&#125;&#125;
</span>
&#123;&#123;/events&#125;&#125;
&#123;&#123;^events&#125;&#125;
<span style="display:block;padding:1em;font-size:small;color:#6b7280;text-align:center;">No notifications</span>
&#123;&#123;/events&#125;&#125;
</template>